<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.callblocker" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>حاجز المكالمات</name>
    <description>تطبيق لحظر المكالمات الدولية</description>
    <author email="dev@example.com" href="http://example.com">مطور التطبيق</author>
    
    <content src="index.html" />
    <access origin="*" />
    
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
            <uses-permission android:name="android.permission.READ_CALL_LOG" />
        </config-file>
    </platform>

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-open-native-settings" spec="1.5.2" />
</widget>
